.title__container {
  margin-bottom: 30px;
  position: relative;
  text-align: center;

  button {
    padding: 0 10px;
    position: absolute; 
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}