.blog__list {
  position: relative;
  
  .list-unstyled {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .media {
    &__content {
      display: inline-block;
      max-width: 80%;
      white-space: initial;
    }

    &__title {
      color: #333;
    }

    &__inner {
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }

  .blog__modal {
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 100;
    opacity: 0;
    visibility: hidden;

    .inner {
      height: 100%;
      width: 100%;
      position: relative;
    }

    .modal__overlay {
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #333;
      opacity: 0.7;
      transition: 0.3s;
      z-index: 1;
    }

    form {
      padding: 20px;
      margin: 0 auto;
      width: 100%;
      max-width: 700px;
      position: absolute;
      top: 10%;
      left: 50%;
      z-index: 100;
      border-radius: 8px;
      background: #fff;
      transform: translate(-50%,0);
    }

    .group__btn {
      display: flex;
      gap: 20px;
      justify-content: center;

      button {
        min-width: 100px;
      }
    }

    .title {
      padding-bottom: 10px;
      border-bottom: 1px solid #e9ecef;
      font-size: 20px;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  @media(max-width: 991.9px) {
    .media {
      gap: 10px;

      &__inner {
        flex-direction: column;

        button {
          max-width: 80px;
        }
      }
    }

    .list-unstyled {
      gap: 40px;
    }
  }
}